variables:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ''
  POSTGRES_HOST_AUTH_METHOD: 'trust'

stages:
  - test
  - release

services:
  - postgres:latest@sha256:b3ef52d269e0050ac3ba8266d8bc9650987412f60d66472fdf7e14f523ecc506
  - redis:latest@sha256:e78ce825e8a8015813e8626816b3831aace2c90fbba74fc554134799456528c4

cache:
  key: '$CI_PROJECT_NAME'
  paths:
    - node_modules
    - $HOME/.cache/pip

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.5.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.5.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-pypi@0.5.1
    inputs:
      pkg_dir: server/


lint_typescript:
  stage: test
  image: node:24@sha256:34af25027ee1b8bffd482ba995ec1e577fbd398db87beb4c60b80c2c9c025127
  script:
    - cd client/
    - NODE_ENV=dev npm i
    - npm run lint
    - NODE_ENV=production node_modules/.bin/webpack

test:
  stage: test
  image: "registry.gitlab.com/thelabnyc/python:${IMAGE}"
  script:
    - cd server/
    - uv sync --all-extras
    - uv run tox
  coverage: '/^TOTAL.+?(\d+\%)$/'
  parallel:
    matrix:
      - IMAGE: py313
        TOX_SKIP_ENV: "^(?!py313-)"
