repos:
  - repo: https://gitlab.com/thelabnyc/thelab-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: update-copyright-year

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
        exclude: '.+\.rst$'
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py313-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.29.1"
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/pycontribs/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        exclude: "^(.git|server/oscarbluelight/static)/"
        types_or: [javascript, jsx, ts, tsx]

  - repo: https://github.com/pycqa/isort
    rev: "7.0.0"
    hooks:
      - id: isort
        args: [--settings-path, server/pyproject.toml]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix, --config, server/pyproject.toml]
      - id: ruff-format
        args: [--config, server/pyproject.toml]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.4
    hooks:
      - id: commitizen

exclude: '\/__snapshots__\/.+\.snap$'
