services:
  postgres:
    image: postgres:latest@sha256:69e8582b781cb44fa4557b98ed586fe68361e320d9b12f9707494335634f4f3d
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"

  redis:
    image: redis:latest@sha256:1c054d54ecd1597bba52f4304bca5afbc5565ebe614c5b3d7dc5b7f8a0cd768d

  node:
    build:
      context: .
      dockerfile: Dockerfile
      target: client
    command: webpack --watch
    environment:
      NODE_ENV: "production"
    volumes:
      - ./client/:/oscarbluelight/client/
      - ./server/bootstrap.sh:/oscarbluelight/server/bootstrap.sh
      - ./server/manage.py:/oscarbluelight/server/manage.py
      - ./server/pyproject.toml:/oscarbluelight/server/pyproject.toml
      - ./server/server.sh:/oscarbluelight/server/server.sh
      - ./server/tox.ini:/oscarbluelight/server/tox.ini
      - ./server/uv.lock:/oscarbluelight/server/uv.lock
      - ./server/oscarbluelight:/oscarbluelight/server/oscarbluelight
      - ./server/sandbox:/oscarbluelight/server/sandbox
      - ./server/tmp:/oscarbluelight/server/tmp

  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    volumes:
      - ./client/:/oscarbluelight/client/
      - ./server/bootstrap.sh:/oscarbluelight/server/bootstrap.sh
      - ./server/manage.py:/oscarbluelight/server/manage.py
      - ./server/pyproject.toml:/oscarbluelight/server/pyproject.toml
      - ./server/server.sh:/oscarbluelight/server/server.sh
      - ./server/tox.ini:/oscarbluelight/server/tox.ini
      - ./server/uv.lock:/oscarbluelight/server/uv.lock
      - ./server/oscarbluelight:/oscarbluelight/server/oscarbluelight
      - ./server/sandbox:/oscarbluelight/server/sandbox
      - ./server/tmp:/oscarbluelight/server/tmp
