services:
  postgres:
    image: postgres:latest@sha256:8ce6e01f36d23849cf5a92275a94baec9ce28f32a47cd729375afb63ca6f985d
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"

  redis:
    image: redis:latest@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915

  node:
    build:
      context: .
      dockerfile: Dockerfile
      target: client
    command: webpack --watch
    environment:
      NODE_ENV: "production"
    volumes:
      - ./client/:/oscarbluelight/client/
      - ./server/bootstrap.sh:/oscarbluelight/server/bootstrap.sh
      - ./server/manage.py:/oscarbluelight/server/manage.py
      - ./server/pyproject.toml:/oscarbluelight/server/pyproject.toml
      - ./server/server.sh:/oscarbluelight/server/server.sh
      - ./server/tox.ini:/oscarbluelight/server/tox.ini
      - ./server/uv.lock:/oscarbluelight/server/uv.lock
      - ./server/oscarbluelight:/oscarbluelight/server/oscarbluelight
      - ./server/sandbox:/oscarbluelight/server/sandbox
      - ./server/tmp:/oscarbluelight/server/tmp

  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    volumes:
      - ./client/:/oscarbluelight/client/
      - ./server/bootstrap.sh:/oscarbluelight/server/bootstrap.sh
      - ./server/manage.py:/oscarbluelight/server/manage.py
      - ./server/pyproject.toml:/oscarbluelight/server/pyproject.toml
      - ./server/server.sh:/oscarbluelight/server/server.sh
      - ./server/tox.ini:/oscarbluelight/server/tox.ini
      - ./server/uv.lock:/oscarbluelight/server/uv.lock
      - ./server/oscarbluelight:/oscarbluelight/server/oscarbluelight
      - ./server/sandbox:/oscarbluelight/server/sandbox
      - ./server/tmp:/oscarbluelight/server/tmp
