{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {% trans "Delete condition" %} | {% trans "Conditions" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:condition-list' %}">{% trans "Conditions" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:condition-update' pk=object.pk %}">{{ object.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Delete?" %}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block headertext %}
    {{ object.name }}
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete Condition?" %}</h2>
    </div>
    <form method="post" class="card card-body bg-light">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to delete this condition?" %}</p>
        {% if object.offers.count %}
            <p>{% trans "Deleting this condition will also delete the following offers:" %}</p>
            <ul>
                {% for offer in object.offers.all %}
                    <li><a href="{% url 'dashboard:offer-detail' pk=offer.pk %}">{{ offer.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-actions">
            <button class="btn btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button> {% trans "or" %}
            <a href="{% url 'dashboard:condition-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock dashboard_content %}
