% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {% trans "Delete Offer Group" %} | {% trans "Offer Groups" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:offergroup-list' %}">{% trans "Offer Groups" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:offergroup-edit' pk=object.pk %}">'{{ object.name }}'</a>
        </li>
        <li class="active">{% trans "Delete?" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {{ object.name }}
{% endblock %}