{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load oscarbluelight_tags %}

{% block title %}
    {% trans "Prices" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:range-list' %}">{% trans "Ranges" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:range-update' pk=range.pk %}">{{ range.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Prices" %}</li>
        </ol>
    </nav>
{% endblock %}


{% block header %}
    <div class="page-header">
        <h1>{% blocktrans with name=range.name %}Adjust Prices for Products in {{ name }}{% endblocktrans %}</h1>
    </div>
{% endblock header %}


{% block dashboard_content %}
    <div class="table-header">
        <h3>{% blocktrans with name=range.name %}Adjust Prices for Products in {{ name }}{% endblocktrans %}</h3>
    </div>
    <div class="card card-body">
        <form action="." method="post" class="form-inline">
            {% csrf_token %}
            {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form %}
            <button type="submit" class="btn btn-primary" name="preview" data-loading-text="Processing...">{% trans "Preview Changes" %}</button>

            {% if preview %}
                <button type="submit" class="btn btn-danger" name="apply" data-loading-text="Saving...">{% trans "Apply Changes" %}</button>
                <a class="btn btn-secondary" href="{% url 'dashboard:range-prices' pk=range.pk %}">{% trans "Clear" %}</a>
            {% endif %}
        </form>
    </div>

    <table class="table table-striped table-bordered">
        <caption>{% trans "Product Prices" %}</caption>
        {% with products=range.all_products %}
            {% if products.count > 0 %}
                <thead>
                    <tr>
                        <th>{% trans "Product Name" %}</th>
                        <th>{% trans "Variant Name" %}</th>
                        <th>{% trans "Partner Name" %}</th>
                        <th>{% trans "SKU" %}</th>
                        <th>{% trans "Retail Price" %}</th>
                        <th>{% trans "Price Excluding Tax" %}</th>
                        <th>{% trans "Price Differential" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products.all %}
                        {% if product.children.count %}
                            <tr>
                                <th colspan="7"><a href="{% url 'dashboard:catalogue-product' pk=product.pk %}">{{ product.get_title }}</a></th>
                            </tr>
                            {% for child in product.children.all %}
                                {% for sr in child.stockrecords.all %}
                                    <tr>
                                        <th></th>
                                        <td><a href="{% url 'dashboard:catalogue-product' pk=child.pk %}">{{ child.get_title }}</a></td>
                                        <td>{{ sr.partner.name }}</td>
                                        <td>{{ sr.partner_sku }}</td>
                                        <td>
                                            <span class="product-price">{{ sr.price_retail | currency:sr.price_currency }}</span>
                                        </td>
                                        <td>
                                            {% if preview %}
                                                <span class="product-price product-price--old">{{ sr.price_excl_tax | currency:sr.price_currency }}</span>
                                                <span class="product-price product-price--new product-price--{{ changes | get_item:sr.id | get_item:'direction' }}">
                                                    {{ changes | get_item:sr.id | get_item:'price' | currency:sr.price_currency }}
                                                </span>
                                            {% else %}
                                                <span class="product-price">{{ sr.price_excl_tax | currency:sr.price_currency }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if preview %}
                                                <span class="product-price product-price--difference product-price--{{ changes | get_item:sr.id | get_item:'direction' }}">
                                                    {{ changes | get_item:sr.id | get_item:'difference' | currency:sr.price_currency }}
                                                    {{ changes | get_item:sr.id | get_item:'direction' }}
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <th colspan="7"><a href="{% url 'dashboard:catalogue-product' pk=product.pk %}">{{ product.get_title }}</a></th>
                            </tr>
                            {% for sr in product.stockrecords.all %}
                                <tr>
                                    <th></th>
                                    <td><em>{% trans "Product is Standalone" %}</em></td>
                                    <td>{{ sr.partner.name }}</td>
                                    <td>{{ sr.partner_sku }}</td>
                                    <td>
                                        <span class="product-price">{{ sr.price_retail | currency:sr.price_currency }}</span>
                                    </td>
                                    <td>
                                        {% if preview %}
                                            <span class="product-price product-price--old">{{ sr.price_excl_tax | currency:sr.price_currency }}</span>
                                            <span class="product-price product-price--new product-price--{{ changes | get_item:sr.id | get_item:'direction' }}">
                                                {{ changes | get_item:sr.id | get_item:'price' | currency:sr.price_currency }}
                                            </span>
                                        {% else %}
                                            <span class="product-price">{{ sr.price_excl_tax | currency:sr.price_currency }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if preview %}
                                            <span class="product-price product-price--difference product-price--{{ changes | get_item:sr.id | get_item:'direction' }}">
                                                {{ changes | get_item:sr.id | get_item:'difference' | currency:sr.price_currency }}
                                                {{ changes | get_item:sr.id | get_item:'direction' }}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            {% else %}
                <tr><td>{% trans "No products found." %}</td></tr>
            {% endif %}
        {% endwith %}
    </table>
{% endblock dashboard_content %}


{% block extrastyles %}
    {{ block.super }}

    <style type="text/css">
        .product-price {
        }
        .product-price--old {
        }
        .product-price--new,
        .product-price--difference {
            font-weight: bold;
        }
        .product-price--less {
            color: #CC0000;
        }
        .product-price--more {
            color: #009933;
        }
    </style>
{% endblock %}
