{% extends 'oscar/dashboard/offers/step_form.html' %}
{% load i18n %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form
                method="post"
                class="form-stacked wysiwyg fixed-actions"
                enctype="multipart/form-data"
            >
                <div class="table-header">
                    <h3>{{ title }}</h3>
                </div>
                <div class="card card-body">
                    {% csrf_token %}
                    {% block form_fields %}
                        {% include "oscar/dashboard/partials/form_fields.html" with form=form %}
                    {% endblock %}
                    {% block form_extradata %}{% endblock %}
                </div>

                {% block form_actions %}
                    <div class="fixed-actions-group">
                        <div class="form-actions">
                            <div class="float-right">
                            {% block form_actions_buttons %}
                                <button
                                    class="btn btn-primary"
                                    type="submit"
                                    data-loading-text="{% trans 'Saving...' %}"
                                >
                                    {% trans "Save offer" %}
                                </button>
                            {% endblock %}
                            </div>
                            <a
                                class="btn btn-secondary"
                                href="{% url 'dashboard:offer-detail' pk=offer.pk %}"
                            >
                                {% trans "cancel" %}
                            </a>
                        </div>
                    </div>
                {% endblock form_actions %}
            </form>
        </div>
    </div>
{% endblock dashboard_content %}
