{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Offer Groups" %} | {{ block.super }}
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "oscarbluelight/offergroups.css" %}" />
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Offer Groups" %}</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <p class="float-right">
            <a href="{% url 'dashboard:offergroup-create' %}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> {% trans "Create new Offer Group" %}</a>
        </p>
        <h1>{% trans "Offer Groups" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div id="offergroup-table" data-offergroup-api="{% url 'dashboard:api-offergroup-list' %}"></div>
{% endblock dashboard_content %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'dashboard:oscarbluelight-i18n-js' %}"></script>
    <script type="text/javascript" src="{% static 'oscarbluelight/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'oscarbluelight/offergroups.js' %}"></script>
{% endblock %}
