include *.txt *.md *.rst
recursive-include src/oscarbluelight/static/ *.html *.css *.css.map *.js *.js.map *.json
recursive-include src/oscarbluelight/templates/ *.html
recursive-include src/oscarbluelight/locale *.po *.mo
