{% extends 'oscar/dashboard/vouchers/voucher_form.html' %}
{% load currency_filters %}
{% load i18n %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript">
    (function() {
        /**
         * User Group Usage Constraint Functionality
         */
        var groupCheckbox = $('#id_limit_usage_by_group');
        var groupSelect = $('#id_groups');

        if (groupCheckbox.length > 0 && groupSelect.length > 0) {
            groupSelect.prop("disabled", !groupCheckbox.get(0).checked);
            groupCheckbox.on('change', function() {
                groupSelect.prop("disabled", !this.checked);
            });
        }
    })();
    </script>
    <script type="text/javascript">
    (function() {
        /**
         * Child Code Functionality
         */
        var childModeNone = document.querySelector('input[name=child_creation_type][value=none]');
        var childModeAuto = document.querySelector('input[name=child_creation_type][value=auto]');
        var childModeManual = document.querySelector('input[name=child_creation_type][value=manual]');
        var autoGenerateCount = document.querySelector('input[name="auto_generate_child_count"]');
        var customCodes = document.querySelector('textarea[name="custom_child_codes"]');

        childModeNone.addEventListener('change', function(e) {
            if (!e.currentTarget.checked) {
                return;
            }
            autoGenerateCount.value = 0;
            autoGenerateCount.disabled = true;
            customCodes.value = '';
            customCodes.disabled = true;
        });

        childModeAuto.addEventListener('change', function(e) {
            if (!e.currentTarget.checked) {
                return;
            }
            autoGenerateCount.disabled = false;
            customCodes.value = '';
            customCodes.disabled = true;
        });

        childModeManual.addEventListener('change', function(e) {
            if (!e.currentTarget.checked) {
                return;
            }
            customCodes.disabled = false;
            autoGenerateCount.value = 0;
            autoGenerateCount.disabled = true;
        });

        childModeNone.click();
    })();
    </script>
{% endblock %}
