{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {% trans "Excluded Products" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:range-list' %}">{% trans "Ranges" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:range-update' pk=range.pk %}">{{ range.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Excluded Products" %}
            </li>
        </ol>
    </nav>
{% endblock %}


{% block header %}
    <div class="page-header">
        <h1>{% blocktrans with name=range.name %}Edit Products Excluded From {{ name }}{% endblocktrans %}</h1>
    </div>
{% endblock header %}


{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="fas fa-edit"></i> {% trans "Edit" %}</h3>
    </div>
    <form method="post" class="form-stacked card card-body bg-light wysiwyg">
        {% csrf_token %}
        {% include "oscar/dashboard/partials/form_fields.html" with form=form %}
        {% block form_actions %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                {% trans "or" %}
                <a href="{% url 'dashboard:range-list' %}">{% trans "cancel" %}</a>
            </div>
        {% endblock form_actions %}
    </form>
{% endblock dashboard_content %}
