{% extends 'dashboard/offers/step_form.html' %}
{% load i18n %}


{% block summary %}
    {% include 'dashboard/offers/summary.html' %}
{% endblock %}


{% block progress %}
    {% include 'dashboard/offers/progress.html' with step=3 %}
{% endblock %}


{% block form_fields %}
    <span class="error-block">{{ form.non_field_errors }}</span>

    {% include "dashboard/partials/form_field.html" with field=form.condition %}
    <p>
        {% url 'dashboard:condition-list' as condition_list_url %}
        {% blocktrans %}
        Conditions can be created and edited from within the <a href="{{ condition_list_url }}">condition dashboard</a>.
        {% endblocktrans %}
    </p>
{% endblock %}


{% block submittext %}{% trans "Continue to step 4" %}{% endblock %}
